# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# There are used in building and minimizing the theme.
node_modules
# //assets/less/*
# //assets/css/main.css.map
# //assets/manifest.json
